/* VARIABLES */
$color-primary: #2b2e4a;
$color-secondary: #e84545;
$shadow: 0 1.3rem 2rem 10px rgba(0, 0, 0, 0.2);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand';
	font-size: 1.6rem;
}
