/* VARIABLES */
$color-primary: #2b2e4a;
$color-secondary: #e84545;
$color-secondary-light: #f35f5f;
$shadow: 0 1rem 2rem 1px rgba(0, 0, 0, 0.4);

/* MEDIA QUERIES */
$bp-large: 1800px;
$bp-medium: 900px;
$bp-small: 700px;
$bp-smaller: 550px;
$bp-smallest: 390px;

@mixin respond-max($breakpoint) {
	@media only screen and (max-width: $breakpoint / 16px * 1em) {
		@content;
	}
}

@mixin respond-min($breakpoint) {
	@media only screen and (min-width: $breakpoint / 16px * 1em) {
		@content;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	@include respond-max($bp-medium) {
		font-size: 54%;
	}

	@include respond-max($bp-small) {
		font-size: 46%;
	}

	@include respond-max($bp-smallest) {
		font-size: 40%;
	}

	@include respond-min($bp-large) {
		font-size: 90%;
	}
}

body {
	font-family: 'Quicksand';
	font-size: 1.6rem;
}

p {
	line-height: 1.6;
	font-weight: 500;
}

.link {
	text-decoration: none;
	color: $color-secondary;
}

.link:hover {
	border-bottom: 1px solid currentColor;
}

.btn-container {
	text-align: center;
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	background-color: $color-primary;
	color: $color-secondary;
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0.7em 1.5em;
	border-radius: 5px;
	transition: opacity 0.4s;

	&:hover {
		opacity: 0.85;
	}
}
