.info-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: $color-primary;
	color: $color-secondary;
	font-size: 2.4rem;
	padding: 0.7em 2em;

	@include respond-max($bp-small) {
		font-size: 2rem;
		padding: 0.7em 1.2em;
	}

	@include respond-max($bp-smallest) {
		font-size: 1.8rem;
		padding: 0.7em 1em;
	}
}
