.overlay {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	background-color: rgba(#eee, 0.75);
	backdrop-filter: blur(7px);
}

.modal {
	background-color: #d5d5d5;
	color: $color-secondary;
	text-align: center;
	padding-bottom: 4rem;
	width: 80%;
	max-width: 50rem;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);

	&__header {
		padding: 2rem 0;
		background-color: $color-primary;
		color: $color-secondary;
		font-size: 2.6rem;
		margin-bottom: 3rem;

		@include respond-max($bp-smallest) {
			font-size: 2.2rem;
		}

		@include respond-min($bp-large) {
			font-size: 3rem;
		}
	}
}
