.options {
	width: 85%;
	max-width: 160rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 2rem;
}

.option {
	background-color: $color-primary;
	color: $color-secondary;
	text-align: center;
	border-radius: 4px;
	width: 14vw;
	box-shadow: $shadow;
	overflow: hidden;
	cursor: pointer;
	transition: opacity 0.4s;

	&__title {
		font-size: 2.2rem;
		margin-top: 1rem;
	}

	&__zone {
		margin-bottom: 1rem;
	}

	&__image {
		display: block; // to get rid of the white space below the image
		width: 100%;
	}

	&:hover {
		opacity: 0.8;
	}

	&--correct {
		border: 5px solid #35e077;
	}
}
