.question-container {
	padding: 7rem 0 3rem 0;
	display: flex;
	justify-content: center;
}

.question {
	text-align: center;
	background-color: $color-primary;
	color: $color-secondary;
	padding: 2.5rem 1rem;
	width: 85%;
	max-width: 50rem;
	border-radius: 4px;
	box-shadow: $shadow;

	&__title {
		font-size: 2.8rem;
		margin-bottom: 1rem;
	}

	&__text {
		font-size: 1.9rem;
	}
}
